p {
  font-family: "Libre Baskerville", serif;
}


header {
  height: 250px;
  width: 100%;
  background: #051238;
}

header h1 {
  color: white;
  text-align: center;
  padding-top: 70px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

header h5 {
  color: white;
  text-align: center;
  padding: 0px 20px;
} 
