.skills-row {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 90px;
}

.skills-row .col-md-3 {
  background: red;
  margin-bottom: 10px;
  border: 5px solid white;
}



@media only screen and (max-width: 600px) {

}

