.nav {
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  background: #051238;
  text-align: right;
}
.navbar-brand {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: rgba(255,255,255,.5);
}
div .text-white-50:hover {
  color: white !important;
}
